<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Joe Root" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/ingrid.css">
    <link rel="stylesheet" type="text/css" href="/css/blueprint.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/pastie.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">

    <script type="text/javascript" src="http://use.typekit.com/vbk5ywo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
