<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Joe Root" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/960.css">
    <link rel="stylesheet" type="text/css" href="css/text.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">

    <script type="text/javascript" src="http://use.typekit.com/vbk5ywo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header>
      <div class="container_12">
        <div class="prefix_2 grid_8">
          <span id="avatar"><img src="http://2.gravatar.com/avatar/c6e8312a6ad1b80ca290901997393ce6?size=220" /></span>
           <h3>Interested in politics, design, tech and startups. One half of <a href="http://onlysix.co.uk">onlysix</a>. This is a place for my thoughts. I can be found on <a href="http://github.com/joeroot">Github</a> and <a href="http://twitter.com/joeroot">Twitter</a>, or contacted via regular <a href="mailto:joe@onlysix.co.uk">email</a>.</h3>
        </div>
      </div>
    </header>
    <section>
      <div class="container_12">
        {{ content }}
      </div>
    </section>
  </body>
</html>